.wslogo:hover, .A1:hover, .A2:hover, .A3:hover, .mail:hover, .tel:hover{
    color: #404bbf;
}

.A1:focus{
    color:#404bbf;
    text-decoration: underline;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.wslogo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
}

.wslogo span{
    color: #2E2F42;
}

h2, h3{
    color: #2E2F42;
}

.tus{
    background-color: #4D5AE5;
}

.tus:hover{
    background-color: #404bbf;
}

.tus span{
    color: white;
}